<div style="text-align: center;">
    <h1>
        About us
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis odit officia accusantium. Ex iste accusamus
        cumque iusto cupiditate eveniet optio nisi excepturi. Sunt quae amet blanditiis illum, asperiores voluptatum
        vitae nesciunt assumenda, voluptatibus deserunt, fugit placeat fuga sapiente laboriosam veniam natus saepe quod.
        Similique quas veniam reiciendis, deserunt possimus dolor, blanditiis debitis consequuntur labore velit iusto
        explicabo, suscipit eius magnam. Iste distinctio nisi odio maxime ipsam. Quod odio, obcaecati quibusdam
        recusandae, incidunt rerum odit accusantium ut ad dolorum vel voluptas atque amet explicabo non alias excepturi,
        neque deleniti eveniet officiis iste placeat. Sit, repellat? Veritatis laborum quae eveniet suscipit debitis?
    </p>
</div>